<div id="bib" class="col-sm-12 col-sm-offset-3 content-right-column" style="margin-left:0%;
    color: #cbcbcb;">

<div class="row">

<div class="col-sm-10" style="width:100%;margin: 0 auto;
    float: none; max-width:50%">

<h2 style="text-align:center;color:#eabd39"><b>Fake Blakes</b></h2>

<p>

This exhibition comprises seven galleries of William Blake’s illuminated books and prints that were not printed or colored by William Blake. 

The first six galleries identify copies of illuminated books that were printed after Blake died in 1827, either by Catherine Blake or Frederick Tatham, Blake’s follower who inherited the illuminated plates after Catherine died in October 1831. All of them were finished in water colors long after Catherine and Tatham died, either in the late 19th or early 20th century, and sold as life time copies. 

</p>


<ul style="margin-top: 30px">
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g1').offset().top-150});" style="color:skyblue"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(1);">Gallery 1: <i>Songs of Innocence</i> copy T</a></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g2').offset().top-150});" style="color:yellowgreen"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(9);">Gallery 2: <i>Songs of Innocence and of Experience</i> copy e/K</a></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g3').offset().top-150});" style="color:violet"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(17);">Gallery 3: <i>Songs of Innocence and of Experience</i> copy f/j</a></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g4').offset().top-150});" style="color:orange"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(24);">Gallery 4: <i>For the Sexes: The Gates of Paradise</i> copy F</a><span style="color:#cbcbcb"></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g5').offset().top-150});" style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(31);">Gallery 5: <i>America a Prophecy</i> copy Q</a></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g6').offset().top-150});" style="color:turquoise"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(35);">Gallery 6: <i>Europe a Prophecy</i> copy L</a></li>
<li onclick="$('#exhibit_article_content').animate({'scrollTop':$('#g7').offset().top-150});" style="color:sienna"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(36);">Gallery 7: Photolithographs and Keriographs</a></li>
</ul>

    
<p style="margin-top: 30px"><b>Works Cited</b></p>
<p>
Bentley, G. E., Jr. <i>Blake Books: Annotated Catalogues of William Blake’s 			Writings in Illuminated Printing</i>. Oxford: Clarendon Press, 1977.</p>
<p>
Erdman, David V. <i>Complete Poetry and Prose of William Blake</i>. Commentary 			Harold Bloom. Rev. ed. New York: Doubleday, 1988.</p>
<p>
Essick, Robert, N. <i>The Works of William Blake in the Huntington Collections: A Complete Catalogue</i>. San Marino, 1985. </p>
<p>
Viscomi, Joseph. <i>Blake and the idea of the Book</i>.</p>
<p>
------. “Blake after Blake: A Nation Discovers Genius.” Blake, Nation, Empire. Eds. Steve Clark and David Worrall. London: Palgrave 2006. 239-262</p>
<p>
------. “Forgery or Facsimile? An Examination of America copy B, plates 4 and 9,” Blake/An Illustrated Quarterly 16, Spring, 1983. 217-223).</p>
<p>
------. “Two Fake Blakes Revisited, One Dew-Smith Revealed.” Blake in Our Time: Essays in Honour of G. E. Bentley, Jr. Ed. Karen Mulhallen. Toronto: University of Toronto Press, 2010. 35-78</p>
<p>
------. “Posthumous Blake: The Roles of Catherine Blake, C. H. Tatham, and Frederick Tatham in Blake’s Afterlife.” Blake/An Illustrated Quarterly, vol. 53. no. 3 (Fall, 2019). Online.</p>
</div>
</div>
</div>