<div id="bib" class="col-sm-12 col-sm-offset-3 content-right-column" style="margin-left:0%;background: #171515;
    color: #cbcbcb;">

<div class="row">

<div class="col-sm-10" style="width:100%;margin: 0 auto;
    float: none; max-width:560px">

<h2 style="text-align:center;color:#eabd39"><b>Authenticating Blake: Lifetime Impressions, Posthumous Prints, and Forgeries</b></h2>

<ul style="margin-top: 30px">
<li style="color:white"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(1);">Authenticating Blake: Lifetime Impressions, Posthumous Prints, and Forgeries”</a></li>
<li style="color:skyblue"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(15);">Gallery I: Introduction</a></li>
<li style="color:yellowgreen"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(21);">Gallery II: 18th-century Print Technologies</a></li>
<li style="color:violet"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(29);">Gallery III: Songs of Innocence Copy T</a></li>
<li style="color:orange"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(38);">Gallery IV: Songs of Innocence and of Experience Copy e/K</a><span style="color:#cbcbcb"></li>
<li style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(52);">Gallery V: Songs of Innocence and of Experience Copy f/j</a></li>
<li style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(52);">Gallery VI: For the Sexes: The Gates of Paradise</a></li>
<li style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(52);">Gallery VII: America a Prophecy Copy Q</a></li>
<li style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(52);">Gallery VIII: Europe a Prophecy Copy L</a></li>
<li style="color:orangered"><a style="color:#eabd39" ng-click="exhibitCtrl.scrollTo(52);">Gallery IX: Photolithographs, Keriographs</a></li>
</ul>

<h2 style="text-align:center;color:#eabd39"><b>WORKS CITED</b></h2>

<td>
Bentley, Blake Books</td><br/><br/>
<td>
Carter, Enquiry</td><br/><br/>
<td>
Erdman, David.</td><br/><br/>
<td>
Essick, Language of Adam</td><br/><br/>
 <td>
Huntington Catalogue</td><br/><br/>
<td>
Viscomi, Joseph. Blake and the idea of the Book. </td><br/><br/>
<td>
------. “Blake after Blake: A Nation Discovers Genius.” Blake, Nation, Empire. Eds. Steve Clark and David Worrall. London: Palgrave 2006. 239-262</td><br/><br/>
<td>
------. “Forgery or Facsimile? An Examination of America copy B, plates 4 and 9,” Blake/An Illustrated Quarterly 16, Spring, 1983. 217-223).</td><br/><br/>
<td>
------. “Two Fake Blakes Revisited, One Dew-Smith Revealed.” Blake in Our Time: Essays in Honour of G. E. Bentley, Jr. Ed. Karen Mulhallen. Toronto: University of Toronto Press, 2010. 35-78</td><br/><br/>
<td>
------. “Posthumous Blake: The Roles of Catherine Blake, C. H. Tatham, and Frederick Tatham in Blake’s Afterlife.” Blake/An Illustrated Quarterly, vol. 53. no. 3 (Fall, 2019). Online.</td>
</p>
</div>
</div>
</div>

