<div class="col-sm-12 col-sm-offset-3 content-right-column" style="margin-left:0%;background: #171515;
    color: #cbcbcb;">
    <div class="row">
<!--
        <ul class="nav navbar-nav blake-menu" style="background-color: black;position: sticky;top: 0;z-index: 999;width:100%">
  <li dropdown class="dropdown" style="width:100%;text-align:center"><a dropdown-toggle role="button" aria-expanded="false" style="color:#e5e5e5">William Blake's Canterbury Pilgrims</a>
    <ul style="overflow-y: scroll; height:75vh; width:100%" class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              

<li><a ng-click="exhibitCtrl.scrollTo(1);" href="javascript:document.getElementById('Int').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop = 0"><b>Introduction: William Blake's Canterbury Pilgrims</b></a></li>
<li><a ng-click="exhibitCtrl.scrollTo(1);" href="javascript:document.getElementById('bep').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100"> <b>Blake's Engraving and Painting of the Canterbury Pilgrims</b> </a></li>
<li><a ng-click="exhibitCtrl.scrollTo(9);" href="javascript:document.getElementById('g1').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100"> <b style="color:skyblue">Gallery I: Blake's Pilgrims and Selected Figures</b> </a></li>  
<li><a ng-click="exhibitCtrl.scrollTo(9); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Reeve, Chaucer, Clerk of Oxenford, Cook</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(9); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Miller, Wife of Bath, Merchant</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(11);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Parson, Man of Law, Plowman</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(12);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Physician, Franklin, Two Citizens, Shipman</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(13); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">The Host</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(14);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Summoner, Manciple, Pardoner, Monk, Friar, A Citizen</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(15); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Lady Abbess, Nun, Three Priests</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(16);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Squire's Yeoman</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(17); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">The Knight, Squire</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(18);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Family Group</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(19);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Female Child</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(20); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Boy with Keg</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(21);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Five Figures behind the Squire</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(22); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Figures behind the Host</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(23);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">  Statue of Bishop in Gothic Portal</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(24); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Dove and Church Spires</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(25);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Flock of Black Birds</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(26); " href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em; line-height:normal">Greyhounds</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(27);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Black Dog</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(28);" href="javascript:document.getElementById('rcc').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Façade of Tabard Inn with Inscriptions</a></li>






<li><a ng-click="exhibitCtrl.scrollTo(29);" href="javascript:document.getElementById('trw').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100"><b>The Rivals: William Blake, Robert Cromek, and Thomas Stothard</b></a></li>
<li><a ng-click="exhibitCtrl.scrollTo(29);" href="javascript:document.getElementById('g2').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">  <b style="color:yellowgreen">Gallery II: The Pilgrims Compared</b></a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(34);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    Wife of Bath</a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(35);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    The Knight and Squire</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(36);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    Plowman</a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(37);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    The Monk and Friar</a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(38);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    The Host</a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(39);" href="javascript:document.getElementById('wb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">    The Miller</a></li>

<li><a ng-click="exhibitCtrl.scrollTo(40);" href="javascript:document.getElementById('bee').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" ><b>Blake Explains his Engraving</b></a></li>
<li><a ng-click="exhibitCtrl.scrollTo(40);" href="javascript:document.getElementById('g3').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" ><b style="color:violet">Gallery III: <i>Blake's Chaucer: An Original Engraving by him from his Fresco Painting</i></b></a></li>

<li><a ng-click="exhibitCtrl.scrollTo(43);" href="javascript:document.getElementById('crb').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" ><b>Contemporary Responses to Blake and Stothard</b></a></li>
<li><a ng-click="exhibitCtrl.scrollTo(43);" href="javascript:document.getElementById('g4').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" ><b style="color:orange">Gallery IV: Selection of Contemporary Comments</b></a></li> 
<li><a ng-click="exhibitCtrl.scrollTo(43);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Francis Douce (1807)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(44);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  John Hoppner (1807)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(45);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Robert Cromek (1808)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(46);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  William Paulet Carey (1808)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(47);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Robert Hunt (1809)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(48);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Robert Bowyer (1810)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(49);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  <i>The Lady's Monthly Museum</i> (June 1812)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(50);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  T. F. Dibdin (1816)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(51);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Charles Lamb (1824)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(52);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  J. T. Smith (1828)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(53);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Allan Cunningham (1830)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(54);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Barron Field (1830)</a></li>
<li><a ng-click="exhibitCtrl.scrollTo(55);" href="javascript:document.getElementById('fd').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100" style="padding-left:2em">  Arnold's Magazine of the Fine Arts, NS, III (March 1834)</a></li>

<li><a ng-click="exhibitCtrl.scrollTo(1);" href="javascript:document.getElementById('bib').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100"><b>Bibliography</b></a></li>
-->






                <!--
                <li><a href="javascript:document.getElementById('ENG').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 320">Engraving</a> </li><li> <a href="javascript:document.getElementById('NPT').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">New Printing Technologies</a> </li><li> <a
                    href="javascript:document.getElementById('CH1').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber One: Preparing the Plate</a> </li><li> <a href="javascript:document.getElementById('CH2').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber Two:
                    Executing the Design</a> </li><li> <a href="javascript:document.getElementById('CH3').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber Three: Etching with Acid</a>
                </li><li> <a href="javascript:document.getElementById('CH4').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber Four: Inking the Plate</a> </li><li> <a href="javascript:document.getElementById('CH5').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber Five:
                    Printing and Coloring Impressions</a> </li><li> <a href="javascript:document.getElementById('CH6').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Chamber Six: Prints into
                    Books</a> </li><li> <a href="javascript:document.getElementById('CONC').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Conclusion</a> </li><li> <a href="javascript:document.getElementById('WC').scrollIntoView(false);document.getElementById('exhibit_article_content').scrollTop += parseInt(document.getElementById('exhibit_article_content').style.height) - 100">Works Cited</a></li>
                </ul>
            </li>
          -->
 <!--       </ul>
      </li>
        </ul>-->
<div class="col-sm-10" style="width:100%">



<h2 style="text-align:center;color:#eabd39"><b>Painting, Engraving, Rivals,
Contemporary Commentary</b></h2>


<h2 style="text-align:center;color:#eabd39"><b>The Galleries</b></h2>


<p>What follows are four galleries.
The first begins with a general introduction to Blake's engraving and painting
of the <i>Canterbury Pilgrims</i> and then
proceeds to describe in detail the pilgrims and miscellaneous figures and
structures in Blake's engraving.</p>



<p>The second gallery begins with a
general introduction into the controversial circumstances of rival works
executed by Blake and Stothard, supplemented by
Blake's and Cromek's own writings on the works, and
then proceeds to compare eight figures from Blake's and Stothard's
engravings.</p>



<p>The third gallery presents in its
entirety Blake's analysis of his engraving: <i>Blake's
Chaucer: An Original Engraving by him from his Fresco Painting.</i></p>



<p>The fourth gallery showcases a
selection of contemporary responses to Blake's and Stothard's
designs.</p>


<h2 style="text-align:center;color:#eabd39"><b>Blake's Engraving and Painting of the <i>Canterbury Pilgrims</i></b></h2>

<h2 style="text-align:center"><a style="color:skyblue" href="" ng-click="exhibitCtrl.scrollTo(1);">Gallery I: Blake's Pilgrims and Selected
Figures</a></h2>



<p>In May of 1809,
Blake mounted a one-man <a href="" ng-click="exhibitCtrl.scrollTo(2);">exhibition</a> of nine paintings and seven watercolors in
the rooms above his brother's haberdashery shop in Soho—Blake's childhood
home—at 28 Broad Street, Golden Square. The paintings were executed in a
water-miscible opaque paint of Blake's invention, which he called "fresco," and
several of the watercolors were borrowed from his patron Thomas Butts. Among
the frescos were the <i>Spiritual form of
Nelson Guiding Leviathan</i>, the <i>Spiritual
Form of Pitt Guiding Behemoth</i>, and <i>Satan
Calling up his Legions</i>. The exhibition was anchored by two of its largest
frescos, <i>The Ancient Britons</i>,
described by Blake as "large as Life," making it by far the largest painting
Blake ever executed, and <a href="" ng-click="exhibitCtrl.scrollTo(1);"><i>Sir Jeffery
Chaucer and the nine and twenty Pilgrims on their journey to Canterbury</i></a>. The
former work is lost, and the latter Blake discusses for 27 of the 68 pages
comprising the exhibition's <a target="_blank" href="http://www.blakearchive.org/work/bb32"><i>Descriptive
Catalogue</i></a>. The catalogue contains what Charles Lamb called "a most
spirited criticism of Chaucer … mystical and full of Vision."<sup><a class="footnote">1<span style="transform:translate(-10%, 0)">G. E. Bentley, Jr., <i>Blake Records</i> (2nd ed., New Haven: Yale UP, 2004), 394; hereafter referred to as BR2.</span></a></sup> The painting, which
once belonged to Butts, is now in the Stirling Maxwell Collection at Pollock
House, Glasgow. It is commonly dated 1808 (the date is obscured), and, at 46.7
x 137 cm, is among Blake's largest works.</p>



<p>From the start,
Blake intended to reproduce his painting as an engraving. He executed a reduced
<a href="" ng-click="exhibitCtrl.scrollTo(3);">pencil drawing</a> of the design (35.4 x 95.8 cm) for the purpose, transferring it
to the copper plate and announcing in a <a href="" ng-click="exhibitCtrl.scrollTo(4);">prospectus</a>, dated 15 May 1809, that it
would "be 3-feet 1-inch long, by 1-foot high" and available "One Year from
September next," noting that "No Work of Art, can take longer than a Year: it
may be worked backwards and forwards without end, and last a Man's whole Life;
but he will, at length, only be forced to bring it back to what it was, and it will
be worse than it was at the end of the first Twelve Months." Blake goes on to
say that "The Value of this Artist's Year is the Criterion of Society: and as
it is valued, so does Society flourish or decay." The price "to Subscribers"
was "Four Guineas, <span class=GramE>Two</span> to be paid at the time of
Subscribing, the other Two, on delivery of the Print. Subscriptions received at
No. 28, Corner of Broad-street, Golden Square; where the Picture is now
Exhibiting, among other Works, by the same Artist. The Price will be considerably
raised to Non-subscribers."<sup><a class="footnote">2<span style="transform: translate(-10%, 0)">David V. Erdman, ed., <i>The Complete Poetry and Prose of William Blake</i>(commentary by Harold Bloom, New York: Anchor Books, Doubleday, 1988), 567-68; hereafter referred to as E.</span></a></sup></p>



<p>In his
prospectus, Blake places himself in the company of the "old original
Engravers," Albrecht Dürer, Lucas van Leyden, Hans Sebald Beham, and Heinrich Aldegrever, and declares that his "correct and finished
Line manner of Engraving," like that of the masters with whom he allies
himself, "can delineate Character as it is in this Picture, where all the
Lineaments are distinct" (E 567).</p>



<p>In October 1810,
Blake completed the slightly smaller <a href="" ng-click="exhibitCtrl.scrollTo(5);">engraving</a> of the painting, entitled <i>Chaucers</i><i> Canterbury Pilgrims </i>(30.7 x 94 cm, the
largest plate he ever executed), the copper plate of which went through at
least three subsequent states between 1810 and Blake's death in 1827.<sup><a class="footnote">3<span style="transform: translate(-0%, 0)">For further details concerning the variations of these states, see Robert Essick, <i>The Separate Plates of William Blake</i> (Princeton: Princeton UP, 1983), 60-74.</span></a></sup> 
The engraving shown here is from the third state out of four states.</p>



<p>Despite Blake's
efforts and aspirations, the 1809 exhibition was a failure, as were his
attempts to sell his engraving, both of which contributed to Blake's retreat
into the relative obscurity in which he was to remain until his death. The
single public notice of the exhibition was Robert Hunt's scathing review in the
17 September 1809 <i>Examiner</i>, wherein
Blake is referred to as an "unfortunate lunatic," and his <i>Descriptive Catalogue </i>described as a "farrago of nonsense" (BR2,
61). Moreover, the production of Blake's painting and engraving of the
Canterbury pilgrims coincided with the highly popular <a href="" ng-click="exhibitCtrl.scrollTo(6);">painting of the same
subject</a> by Blake's longtime friend, Thomas Stothard.
Blake's former publisher Robert Cromek helped promote
Stothard's painting and commissioned Luis Schiavonetti to execute the engraving of Stothard's work [illus. Stothard's
engraving]. The controversy over who first had the idea for a work depicting
the procession of the Canterbury Pilgrims – Blake, Cromek,
or Stothard – remains unsettled. For his part, Blake
retained a sense of betrayal to the end of his life, and the circumstances
surrounding the <a href="" ng-click="exhibitCtrl.scrollTo(8);">Chaucer works</a> ended his friendships with Stothard
and Cromek. </p>



<h2 style="text-align:center;color:#eabd39"><b>Blake's Pilgrims and Selected Figures</b></h2>

<li><a href="" ng-click="exhibitCtrl.scrollTo(9);">Reeve, Chaucer, Clerk of Oxenford, Cook</a></li> 

<li><a href="" ng-click="exhibitCtrl.scrollTo(10);">Miller, Wife of Bath, Merchant</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(11);">Parson, Man of Law, Plowman</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(12);">Physician, Franklin, Two Citizens,
Shipman</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(13);">The Host</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(14);">Summoner, Manciple,
Pardoner, Monk, Friar, A Citizen</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(15);"> Lady Abbess, Nun, Three Priests</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(16);">Squire's Yeoman</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(17);">The Knight, Squire</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(18);">Family Group</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(19);">Female Child</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(20);">Boy with Keg</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(21);">Five Figures behind the Squire</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(22);">Figures behind the Host</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(23);">Statue of Bishop in Gothic Portal</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(24);">Dove and Church Spires</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(25);">Flock of Black Birds</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(26);">Greyhounds</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(27);">Black Dog</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(28);">Façade of Tabard Inn with
Inscriptions</a></li>



<h2 style="text-align:center;color:#eabd39"><b>The Rivals: William Blake, Robert Cromek, and Thomas Stothard</b></h2>

<h2 style="text-align:center"><b><a style="color:yellowgreen" href="" ng-click="exhibitCtrl.scrollTo(29);">Gallery II: The Pilgrims Compared</a></b></h2>



<p>Blake's 1809
exhibition of his painting <i><a href="" ng-click="exhibitCtrl.scrollTo(29);">Sir Jeffery
Chaucer and the nine and twenty Pilgrims on their journey to Canterbury</a> </i>occurred
nearly two years after his friend Thomas Stothard's
painting, <i><a href="" ng-click="exhibitCtrl.scrollTo(30);">The Pilgrimage to Canterbury</a></i>,
was presented for public display at the house of Blake's erstwhile agent Robert
Cromek, in March 1807. The similar subject matter
raises the question: who first conceived of the idea? Given the conflicting
testimony of the persons involved, and the lack of indisputable evidence, it is
a question that has proven nearly impossible to resolve.</p>



<p>According to the
first biographical account of Blake, included in the second volume of John
Thomas Smith's <a target="_blank" href="https://archive.org/details/nollekenshistime00smitrich/page/n8"><i>Nollekens</i><i> and His Times </i></a>(1829), in late 1805 Cromek saw designs sketched for Blake's fresco of the
procession to Canterbury during the time he commissioned Blake to illustrate
Robert Blair's <a target="_blank" href="http://www.blakearchive.org/work/bb435"><i>The Grave</i></a>. Cromek published his edition of <i>The Grave </i>with Blake's illustrations in 1808, but he deprived Blake
of the most remunerative part of the project, the engraving of the designs, and
employed Luis Schiavonetti to etch and engrave the
plates. Blake's friend John Linnell, adding to Smith's account, claimed that Cromek was so impressed by Blake's Canterbury Pilgrims
design that he commissioned him to complete the fresco, with the additional
promise of a more lucrative fee for engraving it. But, Linnell continues,
similar to what he had done in the case of <i>The
Grave</i>, Cromek secretly approached William Bromley
about engraving Blake's design, and, after Blake became suspicious and withheld
the design from his agent, Cromek brought the idea to
Stothard without telling either painter of the
other's involvement.</p>



<p>Smith also gives Stothard's version of the story, in which Blake visited Stothard while the latter was working on his design of the
Canterbury Pilgrims (having already been approached by Cromek),
and was so delighted with the work that Stothard
"expressed a wish to introduce [Blake's] portrait as one of the party, as a
mark of esteem" (Smith, 476). In this telling, Blake made no mention of his own
work during his visit, and Stothard only learned of
it in 1810, to his great surprise and indignation. Whether one believes
Linnell's (who is recalling Blake's) or Stothard's
version of events, the affair ended the friendship between the two painters.</p>



<p>For his part, Cromek, in an April 1807 letter to the poet James
Montgomery, claimed that the idea for the Canterbury Pilgrims design came to
him after reading Chaucer's work, and he gave himself "great Credit for
thinking of such a glorious Subject" (BR2, 234-39). At the time of the letter, Stothard's painting had already been advertised in print by
Cromek and been on public display at Cromek's house. Blake, in a letter that has not survived,
apparently had written to Cromek expressing
frustration with the success of Stothard's work. In
reply, Cromek challenged Blake "to send [him] a
better" portrayal of the pilgrims (Gilchrist, I 209). In this recounting, then,
Blake's painting arose from Cromek's taunting Blake
for his dissatisfaction with Stothard's painting and
Blake's anger at its success.</p>



<p>As for the <a href="" ng-click="exhibitCtrl.scrollTo(31);">engravings</a>
of Blake's work, Alexander Gilchrist, in his 1863 <a target="_blank" href="https://archive.org/details/lifewilliamblak01gilcgoog/page/n13"><i>Life of William Blake</i></a>, claims that a subscription paper for Blake's
engraving of the "Canterbury Pilgrims" was circulating in 1806 (I 204), and
Blake's acquaintance Henry Crabb Robinson also refers to such a subscription
paper in his memoirs (BR2, 538). The existence of such a document would do much
to discredit both Cromek's claim that he and not
Blake first had the idea for the work, and Stothard's
claim that Blake got the idea when visiting him as he was working on his own
painting. However, the earliest extant <a href="" ng-click="exhibitCtrl.scrollTo(32);">prospectus</a> for Blake's engraving of his
painting is dated 1809. In it Blake promises to finish his within a year, and
was late by only a few months.</p>



<p>The engraving of Stothard's painting, however, had a much more circuitous
fate: after initially negotiating with Bromley, Cromek
soon changed course and offered the commission to Schiavonetti,
who had engraved Blake's <i>Grave </i>designs.
Cromek, however, returned to Bromley with the
commission after Schiavonetti's death in June 1810. Cromek announced in print that he would "labour jointly" with Bromley on the etchings Schiavonetti had commenced, yet this plan proved
unsuccessful, as Cromek employed another engraver, Francis
Engleheart, to work on the plate in September 1810.
The engraving was still not finished at the time of Cromek's
death in March 1812, whereupon his widow engaged Schiavonetti's
brother Niccolo to complete the project. However, Niccolo died in 1813, with
the plate still unfinished. It wasn't until October 1817 that the <a href="" ng-click="exhibitCtrl.scrollTo(33);">engraving of Stothard's painting</a> was completed, by James Heath and his
assistant W. H. Worthington, over ten years after the painting had first been
exhibited.<sup><a class="footnote">4<span style="transform: translate(-10%, 0)">For further details, see Dennis Read, <i>R. H. Cromek, Engraver, Editor, and Entrepreneur</i> (Burlington, VT: Ashgate, 2011), 63-69.</span></a></sup></p>



<p>Regardless of
whether Blake visited Stothard while the latter was
working on his painting, Blake certainly demonstrates awareness of it, and of Cromek's detailed and admiring description in his
prospectus for an engraving of Stothard's painting.
Ironically, this prospectus, which also contained John Hoppner's
laudatory statements about Stothard's work, appears
in the appendix of Cromek's 1808 edition of Blair's <i>The Grave</i>, which contained Blake's
designs. In his <i>Descriptive Catalogue </i>for
his own 1809 public exhibition, for which his Canterbury Pilgrims painting was
the centerpiece, Blake references Hoppner's praise
and declares, referring to Stothard's career as a
popular commercial illustrator, "When men cannot read they should not pretend
to paint. To be sure Chaucer is a little difficult to him who has only
blundered over novels and catchpenny trifles of booksellers. Yet a little pains
ought to be taken even by the ignorant and weak" (E 539). Though Blake concedes
that the dress of Stothard's figures "is correct
according to authentic monuments" (E 570), his characters are referred to as
"dumb dollies" and a "burlesque set of scare-crows" (E539, 540). Blake
concludes his description of his painting in the <i>Descriptive Catalogue </i>with a spirited six-page critique,
supplemented by quotations from Chaucer, of Stothard's
painting as described in Cromek's prospectus.</p>



<p>Public admiration
and critical favor overwhelmingly favored Stothard's
work, despite Blake's energetic efforts to promote himself as a "poetic visionary"
whose painting and engraving best represented Chaucer's immortal work, in
contrast to the "dull" painting of his "adversary," Stothard
(E 541). Robert Hunt, in the only public notice of Blake's exhibit, wrote in
the 17 September 1809 <i>Examiner</i>, "One
of the pictures represents Chaucer's Pilgrims, and is in every respect a
striking contrast to the admirable picture of the same subject by Mr. Stothard, from which an exquisite print is forthcome [<i>sic</i>]
from the hand of Schiavonetti" (BR2, 282-85). After
the failure of his exhibition, Blake withdrew from the public eye, and
continued to nurse feelings of betrayal and anger toward both Cromek and Stothard until the end
of his life.</p>



<h2 style="text-align:center;color:#eabd39"><b>The Pilgrims Compared</b></h2>

<li><a href="" ng-click="exhibitCtrl.scrollTo(34);">The Wife of Bath</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(35);">The Knight and Squire</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(36);">Plowman</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(37);">The Monk and Friar</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(38);">The Host</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(39);">The Miller</a></li>



<h2 style="text-align:center;color:#eabd39"><b>Blake Explains his Engraving</b></h2>

<h2 style="text-align:center"><b><a style="color:violet" href="" ng-click="exhibitCtrl.scrollTo(40);">Gallery III: <i>Blake's Chaucer: An Original Engraving by him from his Fresco Painting</i></a></b></h2>


<p>William Blake
issued two prospectuses for his engraving, "Chaucers
Canterbury Pilgrims," the first in May 1809 and the second in the next
year.<span style='mso-spacerun:yes'> In the </span>1809 text, he associates
his style of engraving with the great masters of the Northern Renaissance,
including Albrecht Dürer and Lucas van Leyden, and
gives the size and price of his engraving.<span style='mso-spacerun:yes'> 
</span> In the <a href="" ng-click="exhibitCtrl.scrollTo(43);">longer version of 1810</a>, presented here, Blake offers a
description of his design, including the setting, the inn, and the landscape,
and concludes with a general characterization of the pilgrims as "the
Physiognomies or Lineaments of Universal Human Life beyond which Nature never
steps" (E 570).</p>


<h2 style="text-align:center;color:#eabd39"><b>Contemporary Responses to Blake and Stothard</b></h2>

<h2 style="text-align:center"><b><a style="color:orange" href="" ng-click="exhibitCtrl.scrollTo(43);">Gallery IV: Selection of Contemporary
Comments</a></b></h2>



<p>While
the immediate popular and critical response favored Stothard's version of Chaucer's pilgrims over Blake's,
an emerging appreciation for the unique vision of Blake's design can be
discerned in the decades following Blake's 1809 exhibition. Several observers
assessed Blake's engraving as befitting the age of Chaucer; some saw this
quality as an unappealing "imitation of the arts in their degraded state,"
while for others it was a sign of Blake's "genius kindred to that of Chaucer."
Here we survey critical comments and reviews--both published and from
private correspondence--from the artists' contemporaries, who were attentive to
the aesthetic rivalry initiated by the two designs.</p>


<h2 style="text-align:center;color:#eabd39"><b>Selection of
Contemporary Comments</b></h2>



<li><a href="" ng-click="exhibitCtrl.scrollTo(43);">Francis Douce (1807)</a></li>


<li><a href="" ng-click="exhibitCtrl.scrollTo(44);">John Hoppner (1807)</a></li>



<li><a href="" ng-click="exhibitCtrl.scrollTo(45);">Robert Cromek (1808)</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(46);">William Paulet Carey (1808)</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(47);">Robert Hunt (1809)</a></li>


<li><a href="" ng-click="exhibitCtrl.scrollTo(48);">Robert Bowyer (1810)</a></li>

<li><i><a href="" ng-click="exhibitCtrl.scrollTo(49);">The Lady's Monthly Museum </i>(June 1812)</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(50);">T. F. Dibdin (1816)</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(51);">Charles Lamb (1824)</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(52);">J. T. Smith (1828)</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(53);">Allan Cunningham (1830)</a> </li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(54);">Barron Field (1830)</a></li>

<li><a href="" ng-click="exhibitCtrl.scrollTo(55);"><i>Arnolds Magazine of the Fine Arts</i>, NS, III (March 1834)</a></li>




<h2 style="text-align:center;color:#eabd39"><b>WORKS CITED</b></h2>



<td>Allen,
Orphia Jane. "Blake's Archetypal Criticism: <i
>The Canterbury Pilgrims</i>." <i
>Genre </i>2 (1978): 173-189.</td><br/><br/>

<td>Bentley,
Jr., G.E. "Blake and Cromek: The Wheat and the
Tares." <i>Modern Philology </i>71 (1974):
366-369.</td><br/><br/>

<td><i
>------. Blake Records</i>. Second Edition.
New Haven: Yale UP, 2004.</td><br/><br/>

<td>------.
"‘They take great liberty's': Blake Reconfigured by Cromek
and Modern Critics – The Arguments from Silence." <i style='mso-bidi-font-style:
normal'>Studies in Romanticism </i>XXX (1991): 657-684.</td><br/><br/>

<td>Bowden,
Betsy. "The Artistic and Interpretive Context of Blake's ‘Canterbury
Pilgrims.'" <i><a target="_blank" href="http://bq.blakearchive.org/13.4.bowden">Blake/An Illustrated
Quarterly</a></i> </i>13.4 (1980): 164-190.</td><br/><br/>

<td>Carey,
William Paulet. <i>Critical Description of
the Procession of Chaucer's Pilgrims to Canterbury</i>. London: 1808. <i
><a target="_blank" href="https://books.google.com/books?id=aadbAAAAQAAJ&amp;pg=PA9&amp;lpg=PA9&amp;dq=A+Critical+Description+of+the+Procession+of+Chaucer%27s+Pilgrims+to+Canterbury&amp;source=bl&amp;ots=byICT0qaM6&amp;sig=FAgGRiZI6lwOr0zECro_JgE9Vc4&amp;hl=en&amp;sa=X&amp;ei=7VM8U8erOJPNsQTTq4D4Dw&amp;ved=0CDYQ6AEwAg#v=onepage&amp;q&amp;f=false">Google Books</a></i>.<i></i></td><br/><br/>

<td>Cromek, R. H. "Prospectus." <i>The Grave</i>, by Robert Blair (London: R.H. Cromek,
1808, rpt. 1903 by Methuen). <i><a target="_blank" href="https://books.google.com/books?id=cD9aAAAAMAAJ&amp;pg=PP1#v=onepage&amp;q&amp;f=false"
                >Google Books</a></i>.</td><br/><br/>

<td>Cunningham,
Allan. <i>The Lives of the Most Eminent
British Painters, Sculptors, and Architects</i>, vol. II. London: 1830. <i
><a target="_blank" href="https://catalog.hathitrust.org/Record/000334350">Google Books</a></i>.<i></i></td><br/><br/>

<td>Damon,
S. Foster. <i>A Blake Dictionary. </i>Providence:
Brown UP, 1988. <i><a target="_blank" href="https://books.google.com/books/about/A_Blake_Dictionary.html?id=HOxpOMQ_Pa8C">Google Books</a></i>.</td><br/><br/>

<td>Douce, Frances. <i>Illustrations
of Shakespeare and of Ancient Manners. </i>London: Longman, Hurst, Rees, and
Orme, 1807. <i><a target="_blank" href="https://archive.org/details/illustrationssh01doucgoog/page/n5">Google Books</a></i>.</td><br/><br/>

<td>Essick, Robert. <i>The
Separate Plates of William Blake</i>. Princeton, NJ: Princeton UP, 1983.</td><br/><br/>

<td>Essick, Robert N., and Michael C. Young. "Blake's
‘Canterbury' Print: The Posthumous Pilgrimage of the Copperplate." <i
><a target="_blank" href="http://bq.blakearchive.org/15.2.essick">Blake/An Illustrated
Quarterly</a></i>15.2
(1981): 78-82.</td><br/><br/>

<td>Finley,
William K., and Joseph Rosenblum, eds. <i>Chaucer
Illustrated: Five Hundred Years of the Canterbury Tales in Pictures</i>. New
Castle, DE: Oak Knoll Press, 2003.</td><br/><br/>

<td>Gilchrist,
Alexander. <i>Life of William Blake, "Pictor
Ignotus." </i>2 vols. London: Macmillan and co.,
1863. <i>Google Books</i>.</td><br/><br/>

<td>Gourlay, Alexander S. "‘Idolatry or Politics': Blake's
Chaucer, the Gods of Priam, and the Powers of 1809." <i>Prophetic Character: Essays on William Blake in Honor of John E. Grant</i>,
ed. Alexander S. Gourlay. West Cornwell, CT: Locust Hill Press, 2002.
97-147.</td><br/><br/>

<td>------.
"What Was Blake's Chaucer?" <i>Studies in
Bibliography </i>42 (1989): 272-283.</td><br/><br/>

<td>Greenberg,
Mark L. "The Canterbury Pilgrims by Stothard and
Blake: An Account with Reproductions in ‘The Architect' [for 1878]." <i
>Notes &amp; Queries </i>CCXXI [NS XXIII] (1976):
401-402.</td><br/><br/>

<td>Keynes,
Geoffrey. <i>The Complete Portraiture of William &amp; Catherine Blake</i>.
London: Trianon Press, 1977.</td><br/><br/>

<td><i
>------. Engravings by William Blake: The
Separate Plates. </i>Emery Walker, 1958. </td><br/><br/>

<td>Kiralis, Karl. "William Blake as an Intellectual and
Spiritual Guide to Chaucer's <i>Canterbury Pilgrims</i>."
<i>Blake Studies </i>1.2 (1969): 139-177.</td><br/><br/>

<td>McDonald,
Robert. "William Blake's Canterbury Pilgrims." <i>Print Collector's Quarterly </i>25 (1938): 185-199.</td><br/><br/>

<td>Mertz,
J. B. "Blake and Cromek: A Contemporary Ruling." <i
>Modern Philology </i>89 (1989): 66-77.</td><br/><br/>
 
<td>Pace,
Clare. "Blake and Chaucer: ‘Infinite Variety of Character.'" <i
>Art History </i>3.4 (1980): 388-409.</td><br/><br/>

<td>Read,
Dennis. "The Rival <i>Canterbury Pilgrims </i>of
Blake and Cromek: Herculean Figures in the Carpet." <i
>Modern Philology </i>86.2 (1988): 171-190.</td><br/><br/>

<td>Read,
Dennis. <i>R.H. Cromek,
Engraver, Editor, and Entrepreneur</i>. Burlington, VT: Ashgate, 2011.</td><br/><br/>

<td>Reisner,
M. E. "Effigies of Power: Pitt and Fox as Canterbury Pilgrims." <i
>Eighteenth Century Studies </i>XII (1979):
481-503.</td><br/><br/>

<td>Stevenson,
Warren. "Interpreting Blake's Canterbury Pilgrims." <i'>Colby Quarterly </i>13.2 (1977): 115-126.</td><br/><br/>

<td>Todd,
Ruthven. "A Tentative Note on the Economics of the Canterbury Pilgrims." <i
><a target="_blank" href="http://bq.blakearchive.org/11.1.todd">Blake/An Illustrated
Quarterly</a></i>11.1
(1977): 30-31.</td><br/><br/>

<td>Ward,
Aileen. "Canterbury Revisited: The Blake-Cromek
Controversy." <i><a target="_blank" href="http://bq.blakearchive.org/22.3.ward">Blake/An Illustrated
Quarterly</a></i>22.3 (1988-1989): 80-92.</td><br/><br/>



</div>

</div>

</div>

</div>

</body>

</html>
